<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" />
    <title>Seguimiento</title>
    <link rel="icon" href="../../assets/image/logoViejo.png" type="image/x-icon">
    <script type ="module"  src="../../../firebase/firebaseconnectDB.js" ></script>
    <script type="module" src="../../functions/seguimiento/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

</head>
<body>
    <div class="container">

        <header>
            <nav>
                <img src="../../assets/image/logoViejo.png" alt="ViejoGG" class="logo" />
                <span>ViejoGG</span>
                <ul class="nav-links">
                    <li>
                        <a href="../sorteos/sorteos.html">Inicio</a>
                    </li>
                    <li>
                        <a href="#">Seguimiento de sorteo</a>
                    </li>
                    <li>
                        <a href="../../../index.html" onclick="signOut()">Cerrar sesión</a>
                    </li>
                    
                </ul>
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>
        </header>
        <table id="itemsTable">
            <thead>
              <tr>
                <th>Nick de Albion</th>
                <th>Item/Montura</th>
                <th>Estado</th>
                <th class="mobileCol">Fecha</th>
              </tr>
            </thead>
            <tbody >
            </tbody>
          </table>

    </div>
    </body></thead>
</html></tbody>