<!DOCTYPE html>
<html>
<head>
  <title>Gestión de sorteos</title>
  <link rel="icon" href="../../assets/image/logoViejo.png" type="image/x-icon">
  <meta charset="utf-8" />
  <link rel="stylesheet" href="styles.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
  <script type="module" src="../../firebase/firebaseconnect.js"></script>
  <script type="module" src="../../firebase/firebaseconnectDB.js"></script>
</head>
<body>
  <div class="container">
    <nav>
      <img src="../../assets/image/logoViejo.png" alt="ViejoGG" class="logo" />
      <span>ViejoGG</span>
      <ul class="nav-links" id="nav-links">
        <li>
          <a href="#">Inicio</a>
        </li>
        <li>
          <a href="../seguimiento/seguimiento.html">Seguimiento de sorteo</a>
        </li>
        <li>
          <a href="../../../index.html" onclick="signOut()">Cerrar sesión</a>
        </li>
        
      </ul>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
    <h1 class="titleRandom">Abre cancha con los sorteos</h1>
    <form class="form" id="form">
      <div>
        <label for="nickAlbion" class="formInput">Nick de Albion:</label>
        <input type="text" id="nickAlbion" name="nickAlbion" class="inputForm1" required />
      </div>

      <div id="itemsMonturaInput" style="position: relative">
        <label for="itemsMontura" class="formInput">Items/Montura:</label>
        <input type="text" id="buscador" class="inputForm2" placeholder="Buscar..." autocomplete="off" />
        <input type="hidden" id="valorSeleccionado" />
        <ul id="sugerencias"></ul>
      </div>

      <button class="buttonAdd" type="submit">
        <i></i>
        <i></i>
        <span>Agregar</span>
      </button>
    </form>
    <table id="itemsTable">
      <caption class="titleTable">
        Agregados recientemente
      </caption>
      <thead>
        <tr>
          <th class="th01">Nick de Albion</th>
          <th class="th02">Items/Montura</th>
          <th class="th03">Estado</th>
          <th class="th04">Fecha y hora</th>
        </tr>
      </thead>
      <tbody >
      </tbody>
    </table>
  </div>

  <script src="../../functions/sorteos/sorteos.js"></script>
</body>
</html>
